@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cabinet-bold";
  src: url(../../assets/fonts/cabinet/CabinetGrotesk-Bold.otf);
}
@font-face {
  font-family: "cabinet-extrabold";
  src: url(../../assets/fonts/cabinet/CabinetGrotesk-Extrabold.otf);
}
@font-face {
  font-family: "cabinet-medium";
  src: url(../../assets/fonts/cabinet/CabinetGrotesk-Medium.otf);
}
@font-face {
  font-family: "cabinet-regular";
  src: url(../../assets/fonts/cabinet/CabinetGrotesk-Regular.otf);
}
@font-face {
  font-family: "Geist-bold";
  src: url(../../assets/fonts/geist/Geist-Bold.ttf);
}
@font-face {
  font-family: "space-light";
  src: url(../../assets/fonts/space-gortesk/SpaceGrotesk-Light.ttf);
}
@font-face {
  font-family: "teko-bold";
  src: url(../../assets/fonts/teko/Teko-Bold.ttf);
}
@font-face {
  font-family: "teko-regular";
  src: url(../../assets/fonts/teko/Teko-Regular.ttf);
}

.show-now-btns::after {
  @apply content-[""] absolute inset-0 bg-white translate-y-[100%] transition-transform duration-200 z-10;
}
.show-now-btns:hover::after {
  @apply translate-y-0;
}

.text-border {
  color: transparent !important;
  -webkit-text-stroke: 1px black; 
}
